/*
Styling voor agenda
*/

article.agenda {
	background-color:#fff;
}

ul.siw_events{
	padding:0px;
	list-style-type:none;
}

li.siw_event h5 a::before{
    color: #fff;
    display: inline-block;
    height: 30px;
    left: 15px;
    vertical-align: middle;
    width: 30px;
	background-color: transparent;
    font-family: kt-icon;
	content:"\e115";
}

h5.siw_event_title{
	margin-bottom:0px;
	font-weight:bold;
}

.siw_event_duration, .siw_agenda_page_link{
	font-weight: bold;
}
.agenda-location{
	font-style:italic;
}