/*styling voor snelzoeken*/
.snelzoeken {
    left: 5%;
    position: absolute;
    top: 25%;
    z-index: 10;
	display:inline-block;
	background: rgba(51,51,51, 0.5);
	.border-radius(5px);
	padding: 10px 20px;
	text-align: center;
	margin-bottom: 10px;
    margin-top: 10px;
    
    ul li{
	    padding: 4px;
	    display:block;
    }

    h4{
	    color:#ffffff;
	    text-align:center;
	    &::after {
            background-color: #ffffff;
            content: "";
            display: block;
            height: 1px;
            margin: 0 auto;
            .transition(background 0.3s ease-out 0s);
            width: 60px;
        }
        &:hover:after{
            background-color: @primary-color;
        }        
    }
}




