/*Quote widget*/
.siw_quote_widget{
	background: rgba(255,255,255, 0.7);
	padding:15px;
	.border-radius(5px);
    
    .widget-title{
	    padding-bottom:0px;
    }
    
    .quote{
	    font-size:15px;
	   
	   .text{
	        margin-bottom:10px;
	        font-style:italic;
        }
    }
    
    .name{
	    font-weight:bold;
    }
}

/*SIW contact widget*/
.vcard p {
    margin-bottom: 5px;
}






