/*
Styling voor de woocommerce productpagina
*/
h1.product_title{
    font-size: 24px;
    line-height: 30px;
}

/*categorieheader voor projecten*/
.kt_woo_single_override {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
	.background-size(cover) !important;
	background-position: center center !important;
}

/*accordeon tonen in woocommerce product*/
div.product .woocommerce-tabs .panel-default {
	display: block !important;
}
div.product .woocommerce-tabs .panel-default {
	padding: 0px;
}

/*prijsrange verbergen*/
div.product_details_case .price{
	display:none !important;
}

span.price span.amount{
	color:#555;
	font-size:20px;	
}

/*resetlink voor tarieven verbergen*/
a.reset_variations, p.price{
	display:none !important;
}

/* tarief-knoppen wit i.p.v. themakleur*/
.variations .kad_radio_variations label.selectedValue {
    border-color: #ff9900;
	color: #333;
	background: none repeat scroll 0 0 #fff !important;
}


/* labels van attributen tabel breder maken*/
.woocommerce table.shop_attributes th, .woocommerce-page table.shop_attributes th{
	width:20%;
}

/*infobox in sidebar*/
.kadence_infobox_widget{
	margin-top:0px;
}