/*sorteerdropdown verbergen*/
.woocommerce-ordering{
	display: none;
}

/*Styling op archiefpagina */
.product_item:hover{
	color:#ffffff !important;
	background-color:@primary-color !important;
}

.product_item, .product_item h5{
	.transition(all 0.3s linear 0s) !important;
}

.product_item:hover h5{
	color:#ffffff !important;
}

/*filter verwijderen*/
.widget_layered_nav ul li.chosen a::before, .widget_layered_nav_filters ul li a::before {
	content:"\e36c";
	float: left;
	font-family: kt-icon;
	font-style: normal;
	font-weight: 400;
	margin-left: -12px;
}